<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Thymeleaf Application - Form Samples - Inputs</title>
</head>
<body>
	<form align = "left" action="#" th:action ="@{/provider/kitchen/menu/save/{kitchenName}/{itemName}
													(kitchenName = ${kitchen.kitchenName},
													itemName = ${item.name})
													}" th:object = "${item}" method = "post">
	    <div class="d-flex flex-column bd-highlight"> 
	    	<div class="badge bg-success" sec:authorize = "isAuthenticated()">
		    		Welcome <span  sec:authentication="name"> userName</span> 
	    	</div>
	    	   			
		    <div class="input-group">
			    <span class="input-group-text" id="input-group-left-example">Food Name</span>
			    <input type = "text" th:field = "*{name}"  id = "name" placeholder="Type your item name here">
			    
		    </div>
	 
		  	<div class="input-group">
			    <span class="input-group-text" id="input-group-left-example">vegOption</span>
			    <input type = "text" th:field = "*{vegOption}"  id = "vegOption" placeholder="Type your item name here">
			    
		    </div>
		  	
		   <div class="input-group">
			    <span class="input-group-text" id="input-group-left-example">Price </span>
			    <input type = "text" th:field = "*{price}"  id = "price" placeholder="Type the price here"> 
		    </div>
		    
		   
		    <input type="submit" value="Add Item">
	    </div>
	</form>
</body>
</html>